html {
  font: 100%/1 sans-serif;
}

body {
  width: 90%; /* overall width */
  max-width: 36em; /* maximum width */
  margin: 0 auto; /* top/bottom right/left */
}

/* 1.6 */

@media (min-width: 36em) {

body {
  font-size: 114.285714285714%;
  }

}

/* 1.8 */

@media (min-width: 60em) {

body {
  font-size: 128.571428571429%;
  }

main {
  margin: 5% 15%;
  }

h1 {
  width: 90%;
  }

h2 {
	width: 90%;
	}

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* typographic styles */

/* paragraph / foundation */

/*

1.4 measure

1/2: .7, 1.4
1/4: .35, .7, 1.05, 1.4
1/5: .28, .56, .84, 1.12, 1.4

*/




p {
   font-size: .7em "trebuchet", sans-serif;
  line-height: 2.5em;
  margin-top: 2em;
  margin-bottom: 3em;
}

span {
	color:#DC143C;
	}

h2 {
  font: normal .8em/1.4 "trebuchet", sans-serif;
}



/* headings / foundation */

/* 2.8em + .7 = 3.5 / 2.8 = 1.25 */
/* 2.8em + .56 = 3.36 / 2.8 = 1.2 */

h1 {
  font-size: 3em;
  line-height: 1.3em;
  margin-top: .40em;
  margin-bottom: 1em;
  }

/* 1.68em + .28 = 1.96 / 1.68 = 1.16666666666667 */

h2 {
  font: normal 1.2em/1.4 "helvetica", sans-serif;
  margin: .84em 0;
  line-height: 1.3em;
  margin-top: .50em;
  margin-bottom: .50em;
  }
  
  #work ol {
	list-style: none;
	padding-left: 0;
	}
	
#work ol {
	text-align: center;
	}
	
#work ol li {
	display: inline;
	}	
	
#work ol figure {
	display: inline-block;
	width: 30%;
	border: 1px;
	margin: 0;
	}
	
#work figure img {
	max-width: 100%;
	}	
